<h1>Stories</h1>
<div class="row">
  {{! In handles in each loop else can also be used }}
  {{#each stories}}
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
            {{!-- when we are not in loop word 'user' stand for logged in user bcz we declare it in app.js --}}
            {{!-- But in loop we have to write ../user to tell template to come one step out of loop and then variable user --}}
            {{!-- If you want to parse html in handle bars we have to use  tripple brackets('{}') --}}
          {{! todo edit icon }}
          {{{editIcon user ../user _id}}}
        </div>
        <div class="card-content center-align">
          <h5>{{title}}</h5>
          <p>{{stripTags (truncate body 350)}}</p>
          <br />
          <div class="chip">
            <img src="{{user.image}}" alt="" />
            <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
          </div>
        </div>
        <div class="card-action center-align">
          <a href="/stories/{{_id}}" class="btn grey">Read More</a>
        </div>
      </div>
    </div>
  {{else}}
    <p>No stories to display</p>
  {{/each}}
</div>